#cursor {
    cursor: url(images/cur.png), auto;
    }


.up {
    display: flex;
    }
.up a {
    color: #fff;
    }
.up a:hover {
    opacity: 0.7;
    }


.heder_home {
    display: flex;
    }
.heder_home a {
    color: #fff;
    }
.heder_home a:hover {
    opacity: 0.7;
    }


.heder_works {
    display: flex;
    }
.heder_works a {
    color: #fff;
    }
.heder_works a:hover {
    opacity: 0.7;
    }


.heder_tasks {
    display: flex;
    }
.heder_tasks a {
    color: #fff;
    }
.heder_tasks a:hover {
    opacity: 0.7;
    }