.heder{
    animation-name:hederani;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes hederani{
      from {
        opacity: 0;
        transform: translateY(-100px);
      }
    
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

.hellomessage{
    animation-name:hellomessageani;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
        
    @keyframes hellomessageani{
      from {
        opacity: 0;
      }
    
    to {
        opacity: 1;
      }
    }

.upani{
    animation-name:upani;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes upani{
      from {
        opacity: 0;
        transform: translateY(100px);
      }
    
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

#cursor {
    cursor: url(images/cur.png), auto;
    }


.up {
    display: flex;
    }
.up a {
    color: #fff;
    }
.up a:hover {
    opacity: 0.7;
    }


.heder_home {
    display: flex;
    }
.heder_home a {
    color: #fff;
    }
.heder_home a:hover {
    opacity: 0.7;
    }


.heder_works {
    display: flex;
    }
.heder_works a {
    color: #fff;
    }
.heder_works a:hover {
    opacity: 0.7;
    }


.heder_tasks {
    display: flex;
    }
.heder_tasks a {
    color: #fff;
    }
.heder_tasks a:hover {
    opacity: 0.7;
    }

.history{
  animation-name:upani;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes upani{
    from {
      opacity: 0;
      transform: translateY(100px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@media (max-width: 816px) {
  .history  {
    width: 380px;
    height: 1000px;
  }
}

@media (max-width: 816px) {
  .historys {
    width: 300px;
  }
}

.historys{
  max-width: 500px;
  height: auto;
}

.progBar1{
  width:500px;
  height:10px;
  margin: auto;
  margin-top: -30px;
  background-color:#9E9E9E;
  position:relative;
  border-radius:10px;
  overflow: hidden;
}
      @media screen and (max-width: 816px) {
          .progBar1{
              width:260px;
              margin: auto;
              margin-top: -30px;
          }
      }
.progBar1 .bar.on{
  height:100%;
  background-color:#1875FF;
  position:absolute;
  animation: progress 1.5s normal;
  animation-fill-mode: forwards;
  width: 76%
}

@media (max-width: 816px) {
  .task1 {
    width: 330px;
    height: 60px;
  }
}

.task1{
  margin: auto;
  max-width: 700px;
}

.task2{
  margin: auto;
  max-width: 700px;
}

.nambar1{
  margin-top: -16px;
  margin-left: 60px;
}

.nambar2{
  margin-top: -17px;
  margin-left: 60px;
}

@media (max-width: 816px) {
  .nambar1 {
    margin-left: 4px;
  }
}

.progBar2{
  width:500px;
  height:10px;
  margin: auto;
  margin-top: -30px;
  background-color:#9E9E9E;
  position:relative;
  border-radius:10px;
  overflow: hidden;
}
      @media screen and (max-width: 816px) {
          .progBar1{
              width:260px;
              margin: auto;
              margin-top: -30px;
          }
      }
.progBar2 .bar.on{
  height:100%;
  background-color:#1875FF;
  position:absolute;
  animation: progress 1.5s normal;
  animation-fill-mode: forwards;
  width: 92%;
}